* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  max-width: 1920px;
  margin: 0 auto;
}

nav {
  width: 100%;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
nav #aContain {
  width: 33%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .logoLinkContain {
  width: 202px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .logoLinkContain .logoImage img {
  width: 73px;
  height: 73px;
}
nav .searchContain {
  width: 604px;
}
nav .searchContain i {
  position: absolute;
  padding: 12px;
}
nav .searchContain #search {
  width: 100%;
  max-width: 640px;
  height: 44px;
  background-color: #587c83;
  opacity: 35%;
  border: none;
  color: black;
}
nav a {
  color: black;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media all and (max-width: 390px) {
  nav {
    border: 2px solid green;
    width: 390px;
  }
  nav .logoLinkContain {
    width: 202px;
    height: 73px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  nav .searchContain i {
    position: absolute;
    padding: 2px;
  }
  nav .searchContain #search {
    width: 142px;
    height: 16px;
  }
  nav a {
    visibility: hidden;
  }
}
.homeContent {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.homeContent .homeBooks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 50%;
}
.homeContent .homeBooks .panelContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homeContent .homeBooks .panelContainer .bookDetailsContain {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 188px;
}
.homeContent .homeBooks .panelContainer .bookDetailsContain .bookImage {
  height: 60%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.homeContent .homeBooks .panelContainer .bookDetailsContain .bookImage img {
  max-width: 327px;
  max-height: 491px;
  width: 100%;
  height: 100%;
}
.homeContent .homeBooks .panelContainer .bookDetailsContain .bookDescribe {
  max-width: 413px;
  height: 175px;
  font-size: 16px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10;
}
.homeContent .homeBooks .panelContainer .bookDetailsContain .bookPricing {
  font-size: 32px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.homeContent .homeBooks .panelContainer .bookDetailsContain .addBook {
  width: 222px;
  height: 68px;
  background-color: white;
  border: 1px solid black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.homeHeroContainer {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: flex-end;
}
.homeHeroContainer .homeHero {
  width: 75%;
  height: 65%;
  max-width: 1500px;
  max-height: 530px;
  background: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(/assets/images/home-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px auto 176px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 100px;
}
.homeHeroContainer #homeHeroText {
  height: 100%;
  width: 29%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;
  margin-right: 100px;
  position: absolute;
}
.homeHeroContainer #homeHeroText #homeHeroHeader {
  font-size: 32px;
}
.homeHeroContainer #homeHeroText #homeHeroLine {
  font-size: 13px;
  margin-top: -250px;
}

@media screen and (max-width: 390px) {
  .homeContent {
    border: 2px solid red;
  }
}
.aboutSection {
  max-width: 1920px;
  min-height: 700px;
  display: flex;
  justify-content: space-evenly;
  padding: 0px 90px 0px 70px;
  margin-top: 180px;
}
.aboutSection .abtBookImg img {
  width: 100%;
  max-width: 393px;
  max-height: 587px;
  padding: 40px;
  width: 245px;
  height: 380px;
  background-size: contain;
}
.aboutSection .abtInfoContain {
  width: 1134px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 40px;
}
.aboutSection .abtInfoContain .aboutHeader {
  font-size: 32px;
  margin-bottom: 41px;
}
.aboutSection .abtInfoContain .aboutSubHeader {
  font-size: 26px;
  margin-bottom: 70px;
}
.aboutSection .abtInfoContain .aboutContent {
  font-size: 16px;
}

footer {
  height: 92px;
  background-color: #587c83;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px 0px 50px;
}
footer .copy {
  color: #ffffff;
}
footer .footerLinks {
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footerLinks a {
  text-decoration: none;
  color: #ffffff;
}
footer .footerSocials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .footerSocials a {
  text-decoration: none;
}
footer .footerSocials a .social img {
  width: 44px;
  height: 44px;
  margin-right: 35px;
}

.row .bookRowTitle {
  width: 260px;
  height: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 54px;
  margin-top: 80px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 46px;
}
.row .booksContent {
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 20px;
  margin-bottom: 140px;
}
.row .booksContent .bookRow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-height: 300px;
}
.row .booksContent .bookRow .bookImg {
  margin-right: 8px;
  width: 100%;
  height: 100%;
  max-width: 225px;
  max-height: 300px;
  background-size: cover;
}
.row .booksContent .bookRow .bookImg img {
  width: 85%;
  height: 85%;
  background-size: contain;
}
.row .booksContent .bookRow .itemContainer {
  width: 66%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
}
.row .booksContent .bookRow .itemContainer .bookDescription {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: min(1vw, 20px);
  width: 100%;
  height: 92px;
  margin-bottom: 58px;
}
.row .booksContent .bookRow .itemContainer .bookPrice {
  width: 49px;
  height: 16px;
  margin-bottom: 34px;
}
.row .booksContent .bookRow .itemContainer .addBook {
  max-width: 225px;
  width: 100%;
  height: 68px;
  background-color: white;
  border: 1px solid black;
}

.accountPanel {
  height: 868px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.accountPanel .loginContainer {
  height: 180px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}
.accountPanel .loginContainer .loginHeader {
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.accountPanel .loginContainer .email {
  border: none;
  border-bottom: 1px solid black;
}
.accountPanel .loginContainer .email::placeholder {
  color: black;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.accountPanel .loginContainer .password {
  border: none;
  border-bottom: 1px solid black;
}
.accountPanel .loginContainer .password::placeholder {
  color: black;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.accountPanel .loginContainer .submit {
  width: 170px;
  height: 45px;
  background-color: #587c83;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.accountPanel .signUpContainer {
  height: 330px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}
.accountPanel .signUpContainer .signUpHeader {
  margin-top: -20px;
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.accountPanel .signUpContainer .fName {
  border: none;
  border-bottom: 1px solid black;
}
.accountPanel .signUpContainer .fName::placeholder {
  color: black;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.accountPanel .signUpContainer .lName {
  border: none;
  border-bottom: 1px solid black;
}
.accountPanel .signUpContainer .lName::placeholder {
  color: black;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.accountPanel .signUpContainer .signUpEmail {
  border: none;
  border-bottom: 1px solid black;
}
.accountPanel .signUpContainer .signUpEmail::placeholder {
  color: black;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.accountPanel .signUpContainer .signUpPassword {
  border: none;
  border-bottom: 1px solid black;
}
.accountPanel .signUpContainer .signUpPassword::placeholder {
  color: black;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.accountPanel .signUpContainer .submit {
  width: 170px;
  height: 45px;
  background-color: #587c83;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.blogContainer {
  min-height: 500px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.blogContainer .blogHeadlines {
  width: 48%;
  height: 463px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.blogContainer .blogHeadlines .blogHeadlineWrapper {
  color: #ffffff;
  max-width: 427px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.blogContainer .blogHeadlines .blogHeadlineWrapper .blogTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px;
}
.blogContainer .blogHeadlines .blogHeadlineWrapper .blogParagraph {
  text-align: center;
  font-size: 17px;
  width: 100%;
  height: 153px;
  font-size: 16px;
  padding: 20px;
}
.blogContainer .blogHeadlines .blogHeadlineWrapper .blogBtnA {
  text-decoration: none;
  color: #ffffff;
}
.blogContainer .blogHeadlines .blogHeadlineWrapper .blogBtnA .blogBtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 68px;
  max-width: 225px;
  border: 1px solid #ffffff;
  text-decoration: none;
  padding: 10px;
}
.blogContainer .sectionImage1 {
  height: 100%;
  max-width: 622px;
  width: 50%;
  margin-right: 110px;
  background-image: url(/assets/images/open-book-blog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.blogContainer .sectionImage2 {
  height: 100%;
  max-width: 622px;
  width: 50%;
  margin-right: 110px;
  background-image: url(/assets/images/ereading-blog.jpg);
  background-size: cover;
}
.blogContainer .blogSection1 {
  height: 463px;
  width: 90%;
  background-color: #587c83;
  margin-top: 117px;
  margin-bottom: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogContainer .blogSection1 .twoPicturesSection1 {
  height: 75%;
  max-width: 622px;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.blogContainer .blogSection1 .twoPicturesSection1 .michelleObamaImg {
  width: 35%;
  height: 100%;
  background-image: url(/assets/images/becoming.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.blogContainer .blogSection1 .twoPicturesSection1 .violaDavisImg {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(/assets/images/finding-me.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.blogContainer .blogSection2 {
  height: 463px;
  width: 90%;
  background-color: #587c83;
  margin-bottom: 125px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.blogContainer .blogSection3 {
  height: 463px;
  width: 90%;
  background-color: #587c83;
  margin-bottom: 140px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bookclubContainer {
  max-width: 1924px;
  min-height: 2059px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bookclubContainer .bookclubHero {
  padding: 20px;
  height: 463px;
  max-width: 1464px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(/assets/images/book-club-hero.jpg);
  background-size: cover;
  margin-top: 172px;
  margin-bottom: 125px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.bookclubContainer .bookclubHero .bcHeroTitle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 32px;
  margin-top: -20px;
}
.bookclubContainer .bookclubHero .bcHeroDescription {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 26px;
  margin-top: -110px;
}
.bookclubContainer .bookclubContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px;
}
.bookclubContainer .bookclubContent .bookclubImage {
  width: 622px;
  height: 463px;
  background-image: url(/assets/images/open-book-blog.jpg);
  background-size: cover;
  margin-right: 39px;
  background-size: contain;
  background-repeat: no-repeat;
}
.bookclubContainer .bookclubContent .bookclubParagraph {
  padding: 10px;
  max-width: 898px;
  width: 70%;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.eReadingContainer {
  max-width: 1924px;
  min-height: 2059px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.eReadingContainer .eReadingHero {
  padding: 20px;
  height: 463px;
  max-width: 1464px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(/assets/images/eread-hero.jpg);
  background-size: cover;
  margin-top: 172px;
  margin-bottom: 125px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.eReadingContainer .eReadingHero .eReadingTitle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 32px;
  margin-top: -20px;
}
.eReadingContainer .eReadingHero .eReadingHeroDescription {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 26px;
  margin-top: -110px;
}
.eReadingContainer .eReadingContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px;
}
.eReadingContainer .eReadingContent .eReadingImage {
  width: 622px;
  height: 463px;
  background-image: url(/assets/images/ereading-blog.jpg);
  background-size: cover;
  margin-right: 39px;
  background-size: contain;
  background-repeat: no-repeat;
}
.eReadingContainer .eReadingContent .eReadingParagraph {
  padding: 10px;
  max-width: 898px;
  width: 70%;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ffContainer {
  min-height: 1924px;
  min-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ffContainer .ffHero {
  height: 463px;
  width: 1464px;
  background: linear-gradient(to bottom, rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(/assets/images/february-favorites-hero.jpg);
  background-size: contain;
  margin-top: 140px;
  margin-bottom: 125px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.ffContainer .ffHero .ffTitle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 32px;
  margin-top: -20px;
}
.ffContainer .ffHero .ffHeroDescription {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 2vw;
  margin-top: -75px;
}
.ffContainer .ffHero .ffHeroQuote {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 17px;
  margin-top: -70px;
}
.ffContainer .ffContain {
  padding-bottom: 50px;
  max-width: 90%;
  max-height: 380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 140px;
}
.ffContainer .ffContain .postImage {
  margin-right: 35px;
}
.ffContainer .ffContain .postImage img {
  max-width: 250px;
  max-height: 380px;
  width: 100%;
  height: 100%;
  background-size: contain;
}
.ffContainer .ffContain .postContain {
  width: 100%;
  height: 253px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.ffContainer .ffContain .postContain .postHead {
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 60px;
  font-weight: bold;
}
.ffContainer .ffContain .postContain .postContent {
  font-weight: bolder;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cartPage {
  max-width: 1920px;
}
.cartPage .cartItemContainer {
  height: 566px;
  display: flex;
  align-items: flex-start;
  padding: 152px 0px 0px 135px;
  border-bottom: 1px solid black;
}
.cartPage .cartItemContainer .cartItemImage {
  padding-right: 22px;
  margin-right: 50px;
}
.cartPage .cartItemContainer .cartItemImage img {
  width: 205px;
  height: 317px;
}
.cartPage .cartItemContainer .itemContent {
  width: 185px;
  height: 158px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.cartPage .cartItemContainer .itemStock {
  margin-top: -35px;
}
.cartPage .cartItemContainer .qtyContain {
  width: 166px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cartPage .cartItemContainer .qtyContain .changeQty {
  border: none;
  border-bottom: 1px solid black;
  background-color: white;
}
.cartPage .cartItemContainer .qtyContain .delete {
  border: none;
  border-bottom: 1px solid black;
  background-color: white;
}

.booksContent {
  width: 100%;
}
.booksContent .row {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}
.booksContent .row .rowHeader {
  border: 2px solid red;
}
.booksContent .row .rowContain {
  width: 100%;
  display: flex;
}
.booksContent .row .rowContain .rowContent {
  display: flex;
  height: 380px;
  border: 2px solid red;
}
.booksContent .row .rowContain .rowContent .bookImage {
  margin-right: 50px;
}
.booksContent .row .rowContain .rowContent .bookImage img {
  width: 223px;
  height: 246px;
}
.booksContent .row .rowContain .rowContent .contentStack {
  height: 280px;
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.booksContent .row .rowContain .rowContent .contentStack .bookDescription {
  width: 280px;
  height: 92px;
  border: 2px solid red;
}
.booksContent .row .rowContain .rowContent .contentStack .bookPrice {
  border: 2px solid red;
  width: 49px;
  height: 16px;
}
.booksContent .row .rowContain .rowContent .contentStack .addToCart {
  border: 2px solid red;
  width: 222px;
  height: 68px;
}

@media screen and (max-width: 780px) {
  .homeContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 552px;
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
  }
  .homeContent .homeHeroContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 329px;
    width: 100%;
    max-width: 552px;
    width: 100%;
    background-color: #587c83;
    margin: 100px 75px;
  }
  .homeContent .homeHeroContainer .homeHero {
    position: absolute;
    background: none;
    background-image: url(/assets/images/home-hero.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
    max-width: 273px;
    max-height: 181px;
    margin-top: 0 auto 0 auto;
    top: -15px;
    left: 55px;
    padding: 10px;
  }
  .homeContent .homeHeroContainer #homeHeroText {
    margin-right: 0px;
    right: 0px;
    padding-right: 15px;
  }
  .homeContent .homeHeroContainer #homeHeroText #homeHeroHeader {
    font-size: 12px;
  }
  .homeContent .homeHeroContainer #homeHeroText #homeHeroLine {
    font-size: 7px;
    margin-top: -80px;
  }
  .homeContent .homeBooks {
    flex-direction: column;
  }
  .homeContent .homeBooks .panelContainer .bookDetailsContain .bookImage {
    max-width: 175px;
    max-height: 281px;
  }
  .homeContent .homeBooks .panelContainer .bookDetailsContain .bookDescribe {
    font-size: 11px;
  }
  .homeContent .homeBooks .panelContainer .bookDetailsContain .bookPricing {
    font-size: 11px;
    margin-top: -50px;
  }
}
@media screen and (max-width: 780px) {
  .aboutSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    min-height: 40vh;
  }
  .aboutSection .abtBookImg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .aboutSection .abtBookImg img {
    width: 245px;
    height: 380px;
  }
  .aboutSection .abtInfoContain {
    width: 75%;
    text-align: center;
    margin-top: 40px;
  }
  .aboutSection .abtInfoContain .aboutHeader {
    font-size: 14px;
    margin-bottom: 41px;
  }
  .aboutSection .abtInfoContain .aboutSubHeader {
    font-size: 12px;
    margin-bottom: 70px;
  }
  .aboutSection .abtInfoContain .aboutContent {
    font-size: 10px;
  }
}
@media screen and (max-width: 780px) {
  .row {
    width: 80%;
    margin: 0 auto;
  }
  .row .bookRowTitle {
    font-size: 12px;
    text-align: left;
    margin-left: -90px;
  }
  .row .booksContent {
    flex-direction: column;
  }
  .row .booksContent .bookRow {
    border: 2px dotted red;
    margin-bottom: 40px;
  }
  .row .booksContent .bookRow .itemContainer .bookDescription {
    width: 183px;
    font-size: 13px;
  }
}

/*# sourceMappingURL=styles.css.map */
