// #testButton {
//     @include site-button();
// }

.aboutSection {
  max-width: 1920px;
  min-height: 700px;
  display: flex;
  //   align-items: center;
  justify-content: space-evenly;
  padding: 0px 90px 0px 70px;
  margin-top: 180px;
  // background-color: rebeccapurple;

  .abtBookImg {
    // width: 50%;
    // height: 587px;
    // border: 2px solid red;

    img {
      // height: 100%;
      width: 100%;
      max-width: 393px;
      max-height: 587px;
      padding: 40px;

      width: 245px;
      height: 380px;
      background-size: contain;
    }
  }

  .abtInfoContain {
    width: 1134px;
    height: 350px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    flex-direction: column;
    // border: 2px solid orange;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 40px;

    .aboutHeader {
      font-size: 32px;
      margin-bottom: 41px;
    }
    .aboutSubHeader {
      font-size: 26px;
      margin-bottom: 70px;
    }
    .aboutContent {
      font-size: 16px;
    }
  }
}
