.accountPanel {
  height: 868px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .loginContainer {
    height: 180px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;

    .loginHeader {
      font-size: 26px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    .email {
      border: none;
      border-bottom: 1px solid black;

      &::placeholder {
        color: black;
        font-size: 16px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }

    .password {
      border: none;
      border-bottom: 1px solid black;

      &::placeholder {
        color: black;
        font-size: 16px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }

    .login {
      width: 170px;
      height: 45px;
      background-color: $site-blue;
      border: none;
      color: white;
      font-size: 16px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }

  .signUpContainer {
    height: 330px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;

    .signUpSubheader {
    }

    .signUpHeader {
      margin-top: -20px;
      font-size: 26px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    .fName {
      border: none;
      border-bottom: 1px solid black;

      &::placeholder {
        color: black;
        font-size: 16px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }

    .lName {
      border: none;
      border-bottom: 1px solid black;

      &::placeholder {
        color: black;
        font-size: 16px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }

    .signUpEmail {
      border: none;
      border-bottom: 1px solid black;

      &::placeholder {
        color: black;
        font-size: 16px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }

    .signUpPassword {
      border: none;
      border-bottom: 1px solid black;

      &::placeholder {
        color: black;
        font-size: 16px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }

    .submit {
      width: 170px;
      height: 45px;
      background-color: $site-blue;
      border: none;
      color: white;
      font-size: 16px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }
}
