.items {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  width: 90%;

.cartPage {
  // min-height: 100vh;
  width: 90%;
  max-width: 1920px;
  //   border: 2px dotted dodgerblue;
  //   padding-left: 135px;
  //   padding-top: 152px;
  
  .cartItemContainer {
    width: 90%;
    height: 566px;
    display: flex;
    align-items: flex-start;
    padding: 152px 0px 0px 135px;
    border-bottom: 1px solid black;
    // justify-content: space-evenly;

    .cartItemImage {
      
        max-width: 205px;
        max-height: 317px;
      padding-right: 22px;
      margin-right: 50px;
      img {
        height: 100%;
        width: 100%;
        max-width: 205px;
        max-height: 317px;
      }
    }
    .itemContent {
      width: 100%;
      height: 158px;
      //   border: 2px dotted red;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
     

      .itemTitle {
        font-size: 18px;
        font-weight: nine;
      }
    }
    .itemPrice {
    }
    .itemStock {
      margin-top: -35px;
    }
    .qtyContain {
      width: 166px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .qty {
      }

      .changeQty {
        border: none;
        border-bottom: 1px solid black;
        background-color: white;
      }
      .delete {
        border: none;
        border-bottom: 1px solid black;
        background-color: white;
      }
    }
  }
}
}