// button
@mixin site-button($cornerRadius: 30px, $btnPadding: 8px 19px) {
  background-color: $site-blue;
  padding: $btnPadding;
  border: none;
  border-radius: $cornerRadius;
  color: white;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  margin-top: 56px;
}
