@media screen and (max-width: 780px) {

    .ffContainer {

       
       
       
        .ffHero {
            height: 210px;
            width: 90%;
            background-size: cover;
            margin-top: -200px;
            margin-bottom: 0px;
            
        }

        .ffContain {
            margin-top: 0px;
          
            margin-top: -500px;
            margin-bottom: 0px;
        }

    }
    

}